<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team G - Online Players List</title>
</head>
<body>

    <h1>Online Players List</h1>

    <form method="post">
        <!-- Storing the current user's details -->
        <input type="hidden" name="current_player" id="current_player" value="{{current_player}}" hidden>
        
        <!-- Displaying the usernames of all online players with a play button next to it  -->
        % for player in online_players:

        <p>{{player}} <button type="submit" name="opponent" value="{{player}}" formaction="/create_game/{{current_player}}/{{player}}">Play Game</button></p>

        % end

    </form>


</body>
</html>