<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team G - Ultimate Tic Tac Toe</title>
    <link rel="stylesheet" href="../static/resetpassword.css">
</head>
<body>

    <h1 class="display-header">Ultimate Tic Tac Toe Game Team G</h1>
    <form class="form-container" action="/update_user" method="post">
        <span class="form-title">Reset Password</span>
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="text" id="old_password" name="old_password" placeholder="Old Password">
        <input type="password" id="new_password" name="new_password" placeholder="New Password">
        <div class="btn-div">
            <button class="reset-submit">Reset</button>
        </div>
    </form>

</body>
</html>