/* Importing the Poppins Font from google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.form-title {
    font-size: 26px;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    height: 40px;
    width: 400px;
    border: none;
    outline: none;
    color: #555;
    font-size: 20px;
    padding: 30px;
    border: 2px solid transparent;
    font-family: 'Poppins';
    background: #f3f3f3;
    border-radius: 10px;
}

input:focus {
    border: 2px solid #5500ff;
    transition: border 0.5s;
}

::placeholder {
    color: #d5d5d5;
}

.register-submit {
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Poppins';
    background: #5500ff;
}

.register-submit:hover {
    background: #000000;
    transition: background 0.3s;
    cursor: pointer;
}

.btn-div{
    display: flex;
    justify-content: right;
    padding-top: 10px;
}

.display-header{
    padding-bottom: 18px;
    font-size: 30px;
}

.login-div{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.login-div p{
    font-size: 20px;
}
